:host div {
  margin: 0 75px;
}
:host h1 {
  color: #363636;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-bottom: 1px solid #eaeaea;
  margin: 40px 0 50px 0;
  padding-bottom: 5px;
}
