.post {
  display: flex;
  flex-direction: column;

  width: 400px;
  height: 530px;
  border: 1px solid #eaeaea;
  border-radius: 5px;

  color: #363636;
  font-style: normal;
  font-weight: 400;

  margin-bottom: 45px;
  &-img {
    width: 400px;
    height: 217px;
  }
  &-container {
    padding: 25px;
    &-icon {
      margin-right: 8px;
    }
    &-title,
    &-description {
      width: 350px;
      word-wrap: break-word;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
    }
    &-title {
      font-size: 24px;
      -webkit-line-clamp: 2;
    }
    &-description {
      font-size: 16px;
      line-height: 150%;
      width: 350px;
    }
    &-link {
      font-size: 16px;
      font-weight: 700;
      line-height: 150%;
      cursor: pointer;
      color: #363636;
      text-decoration: none;
    }
  }
}
