<div class="post">
  <img class="post-img" [src]="article.image_url" alt="postImg" />
  <div class="post-container">
    <div class="post-container-date">
      <img
        class="post-container-icon"
        src="assets/akar-icons_calendar.svg"
        alt="icon"
      />
      <span class="post-container-date">{{
        article.published_at | dateFormat
      }}</span>
    </div>
    <p class="post-container-title">{{ article.title }}</p>
    <p class="post-container-description">
      {{ article.summary }}
    </p>
    <a (click)="onReadMore()" class="post-container-link"
      >Read more <img src="assets/arrow-right.svg" alt="arrow"
    /></a>
  </div>
</div>