<div class="post">
  <img class="post-img" src="assets/kirito.jpg" alt="postImg" />
  <div class="post-container">
    <div class="post-container-date">
      <img class="post-container-icon" src="assets/akar-icons_calendar.svg" alt="icon" />
      <span class="post-container-date">June 29th, 2021</span>
    </div>
    <p class="post-container-title">The 2020 World's Most Valuable Brands</p>
    <p class="post-container-description">
      Non sed molestie tortor massa vitae in mattis. Eget vel consequat
      hendrerit commodo libero aliquam. Urna arcu nunc tortor vitae pharetra...
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    </p> <!-- Позже нужно сделать так, чтобы текст внутри ограничивался и ставилось автоматом три точки, аля ...-->
    <a class="post-container-link">Read more <img src="assets/arrow-right.svg" alt=""></a>
  </div>
</div>
